<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Imaginativestroll</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="application.css">
</head>

<body>
<header class="header-content">
    <div class="header-title">ðŸš¶ImaginativestrollðŸš¶</div>
  <u1 class="header-list">
  <nav>
   <div class="images-container">
   ã€€ <%= link_to "æŠ•ç¨¿ä¸€è¦§", images_path, class: "nav-link" %>
      <%= link_to "ðŸ“¸è¨˜éŒ²ã™ã‚‹ðŸ“¸", new_image_path, class: "nav-link"  %>
      <% if user_signed_in? %>
      <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", user_path(current_user.id), class: "nav-link" %>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
      <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "nav-link"  %>
      <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "nav-link"  %>
    <% end %>
   </div>
  </nav>
  </u1>
</header>

    <main>
    <%= yield %>
    </main>

    <body>
    ã€€ã€€<title>Imaginativestroll</title>
    ã€€ã€€<meta name="viewport" content="width=device-width,initial-scale=1">
    ã€€ã€€<%= csrf_meta_tags %>
    ã€€ã€€<%= csp_meta_tag %>
    ã€€ã€€<script src=https://kit.fontawesome.com/e40d367649.js></script>
    ã€€ã€€<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    ã€€ã€€<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  ã€€</body>
</body>

<footer>
    <small>Â©Hinata2023</small>
</footer>

</html>